

/* default body template for all webpages */
body{
    background-color: #FDFDFD;
    color: #353535;
    font: normal 27px Georgia, serif;
    text-rendering: optimizeLegibility;
    padding-right: 25%;
    padding-left: 25%;
}

/*sets color of the links*/
a{
    color: #0066ff;
    text-decoration: none;
}

/* Title */

.title{
    display: block;
    font: normal 27px Georgia, serif;

    text-align:center;

}

/* color for title link */
.title a{
    color: #353535;
}

/* color for title when hovered over */
.title a:hover{
    color: #0066ff;
    transition-delay: 1s fade;
    text-decoration: underline;
}

/* NAV */

nav{
    font: normal 18px Georgia, serif;
    text-align:center;
    display: inline;
    /*line-height: 45px;*/
}

nav ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
}

/* force text to be inlined in a list */
nav ul li{
    display: inline;

}

/* draw a line when hovering over anything in the nav */
nav ul li a:hover{
    text-decoration: underline;
}

/* add padding to the '-' character in the nav */
nav ul li .nav-pad{
    padding-right: 4px;
    padding-left: 4px;
}

/* Footer */

/* remove list details in the footer */
.footer ul{
    list-style-type: none;
    text-align:center;
}

/* display the footer in one line */
.footer ul li{
    display: inline;
    padding: 6%;
}

/* underline the text in the footer on hover */
.footer ul li a:hover{
    text-decoration: underline;
}

/* Index container */

.index-container{
    padding-left: 10%;
    padding-right: 10%;
} 

/* Blog list */

.blog-list a{
    color: #353535;
    text-decoration: none;
}

.blog-list ul{
    list-style-type: none;
    padding-bottom: 0px;
}

.blog-list li{
    padding-bottom: 30px;

}

.blog-list li a{
    font: normal 23px/32px Georgia, serif;
}

.blog-list li a:hover{
    color: #0066ff;
    text-decoration: underline;
}

.blog-list li span{
    font: normal 18px Palatino, "Palatino Linotype", serif;
    font-style: italic;
}






